# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Femina\boot-oauth2-authorization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
